<div class="container">

  <button class="btn btn-link" (click)="setTemperatureUp()">
    <i class="fa fa-chevron-up arrows" aria-hidden="true"></i>
  </button>
  <div class="arrows">{{room.desiredTemperature}}&#8451;</div>
  <button class="btn btn-link" (click)="setTemperatureDown()">
    <i class="fa fa-chevron-down arrows" aria-hidden="true"></i>
  </button>
</div>
