<div class="container">

  <div *ngFor="let room of rooms.rooms; let i = index">

    <div class="jumbotron">

      <h4 class="display-4">{{room.name}}

      </h4>
      <hr class="my-4">
      <p>
        <app-desired-temp [room]="room"></app-desired-temp>
        <app-current-temp [room]="room"></app-current-temp>
      </p>
      <button class="btn btn-link" (click)="editRoom(room.id)">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div>
    <button class="btn btn-sm btn-success" routerLink="/new-room">
      <i class="fa fa-plus-circle" aria-hidden="true"></i> New room
    </button>
  </div>

</div>
