<!--<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">-->
<!--<a class="navbar-brand" routerLink="/" routerLinkActive="active">Thermostat</a>-->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->

<!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--<ul class="navbar-nav mr-auto">-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" routerLink="/cron" routerLinkActive="active">Scheduler</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" routerLink="/import-export" routerLinkActive="active">Import-Export</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->

<header class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

  <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true"><i class="fa fa-thermometer-quarter" aria-hidden="true"></i> Thermostat</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
          [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/cron" routerLinkActive="active"><i class="fa fa-clock-o" aria-hidden="true"></i> Scheduler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://192.168.20.200:3000/d/SNkrlK0iz/hus?refresh=1m&orgId=1">Grafana</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://192.168.20.200:9090">Prometheus</a>
      </li>
    </ul>

  </div>
</header>
