<form>
  <div class="form-group">
    <label for="room-name">Name</label>
    <input [(ngModel)]="room.name" type="text" class="form-control" name="room" id="room-name"
           aria-describedby="room-help"
           placeholder="Room name">
    <small id="room-help" class="form-text text-muted">Only used to identify your room</small>
  </div>
  <div class="form-group">
    <label for="desired-temp">Temperature</label>
    <input [(ngModel)]="room.desiredTemperature" type="text" class="form-control" name="temp" id="desired-temp"
           aria-describedby="desired-temp-help" placeholder="Desired temperature">
    <small id="desired-temp-help" class="form-text text-muted">Set the temperature you want in the room. Can be
      controlled by
      <a routerLink="/cron">
        Schedulers
      </a>
      later.
    </small>
  </div>
  <div class="form-group">
    <label for="flex-value">Flex</label>
    <input [(ngModel)]="room.flexTemperature" type="text" class="form-control" name="flex" id="flex-value"
           aria-describedby="flex-value-help" placeholder="Flex value">
    <small id="flex-value-help" class="form-text text-muted">This value decides when the oven should turn on and off. If
      your oven is electrical, a small number would make sense. For example 0.1. If you set desired temperature on 20,
      the oven would turn off when the oven passes 20.1 and on at 19.9. For a pellets oven, you would not want the oven
      to turn on and off that often.
    </small>
  </div>
  <div class="form-group">

    <label for="telldus-sensor">Sensor</label>
    <select [(ngModel)]="room.sensorId" class="form-control" name="sensor" id="telldus-sensor">
      <option [value]="sensor.id" *ngFor="let sensor of telldus.sensor">{{sensor.name}}</option>
    </select>
    <small id="telldus-sensor-help" class="form-text text-muted">This is the sensor you want to measure the room
      temperature with. You can find the sensor id by calling /api/sensors/list . Include the Authentication header you
      set in the configuration of this app "Authentication" "Bearer token-here"
    </small>
  </div>

  <div class="form-group">
    <label for="telldus-switch">Device</label>

    <select [(ngModel)]="room.deviceId" class="form-control" name="device" id="telldus-switch">
      <option [value]="device.id" *ngFor="let device of telldus.device">{{device.name}}</option>
    </select>

    <small id="telldus-switch-help" class="form-text text-muted">This is the device that will turn your oven on or off.
      You can find the sensor id by calling /api/device/list . Include the Authentication header you set in the
      configuration of this app "Authentication" "Bearer token-here"
    </small>
  </div>

  <div class="form-group">
    <label for="device-effect">Device Effect</label>
    <input [(ngModel)]="room.deviceEffect" type="text" class="form-control" name="effect" id="device-effect"
           aria-describedby="effect-help" placeholder="kW">
    <small id="effect-help" class="form-text text-muted">Set the effekt in kW for the oven
    </small>
  </div>


  <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>

  <span *ngIf="room.id">
     <button type="button" class="btn btn-danger" (click)="delete(room.id)">Delete</button>
  </span>

</form>
