<table class="table">
  <thead>
  <tr>
    <th scope="col">Active</th>
    <th scope="col">Room</th>
    <th scope="col">Temperature</th>
    <th scope="col">Cron expression</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>


  <tr *ngFor="let cron of crons.crons; let i = index">
    <th scope="row">
      <input [(ngModel)]="cron.active" type="checkbox">
    </th>
    <td>
      {{getRoomName(cron.room)}}
    </td>
    <td>
      <input [(ngModel)]="cron.temperature">
    </td>
    <td>
      <input [(ngModel)]="cron.cron">
    </td>
    <td>
      <button type="button" class="btn btn-danger" (click)="removeCron(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>

    </td>
  </tr>

  <tr>
    <th scope="row">
      <input [(ngModel)]="newCron.active" type="checkbox">
    </th>
    <td>
      <select [(ngModel)]="newCron.room">
        <option *ngFor="let room of rooms.rooms" [ngValue]="room.id">{{room.name}}</option>
      </select>
    </td>
    <td>
      <input [(ngModel)]="newCron.temperature">
    </td>
    <td>
      <input [(ngModel)]="newCron.cron">
    </td>
    <td>
      <button type="button" class="btn btn-success" (click)="addNew()"><i class="fa fa-plus-circle" aria-hidden="true"></i>
      </button>

    </td>
  </tr>
  <button type="button" class="btn btn-success" (click)="saveChanges()">Save changes</button>

  </tbody>


</table>
